@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("css/gradient-text.css");

body {
  font-synthesis: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Make sure the scroll target are not behind the fixed header */
.scroll-target {
  scroll-margin-top: 65px;
}